<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="{{ order.status }}">
    <ion-title>#{{ order.orderNumber }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- order items -->
  <ion-list>
    <ion-item *ngFor="let item of order.items">
      <div>
        <span class="pull-left"><span ion-text color="primary">{{ item.name }} </span>x {{ item.quantity }}</span>
        <span class="pull-right">${{ item.subTotal }}</span>
        <div class="clear"></div>
      </div>
      <div class="text-sm" padding-left *ngIf="item.size">
        {{ item.size.name }}
      </div>
      <div padding-left>
        <span class="text-sm" *ngFor="let variation of item.variations, let i = index">
        <span ion-text color="light-dark" *ngIf="i > 0">,</span>
        <span ion-text color="light-dark">{{ variation.name }}</span>
      </span>
      </div>
    </ion-item>
    <ion-item>
      <h6 class="pull-left">TOTAL</h6>
      <span class="pull-right">${{ order.total }}</span>
    </ion-item>
    <ion-item>
      <span class="pull-left">Created at</span>
      <span ion-text class="pull-right" color="secondary">{{ order.createdAt | date: 'y/MM/d H:mm'}}</span>
    </ion-item>
    <ion-item>
      <h6>Ship to</h6>
      <p>{{ order.address }}</p>
    </ion-item>
  </ion-list>

  <!--buttons-->
  <button ion-button block color="serving" *ngIf="order.status == 'pending'" (click)="serve()">SERVE</button>
  <button ion-button block color="complete" *ngIf="order.status == 'serving'" (click)="complete()">COMPLETE</button>
  <button ion-button block color="cancelled" *ngIf="order.status == 'pending' || order.status == 'serving'"
          (click)="cancel()">CANCEL
  </button>
</ion-content>
