page-login {
  text-align: center;

  .logo {
    margin: 0 auto;
    padding: 0.2em 1.25em 0.1em 0.35em;
    width: 1.5em;
    border-radius: 10%;
    font-size: 3em;
  }

  .login-content {
    margin: 5em auto;
  }
}